
*{
    margin: 0px;
    padding: 0px;
}
.sidebar{
    background-color: red;
    width: 10vw;
    font-family: 'Coming Soon', cursive;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}
.main{
    background-color: rgb(166, 234, 166);
    width: 90vw;
}

.container{
    display: flex;
}
.info{
    background-color: rgb(221, 233, 84);
    height: 78vh;
    width: 80vh;
    margin:144px auto;
}